<h2>

  New Bar</h2>

<form action="/bars/add" method="POST" id="form-container">
  <label for="name">Bar:</label>
  <input id="name" type="text" name="name" placeholder="Name of Bar">

  <br>
  <br>
  <label for="zone">Zone</label>
  <select id="zone" name="zone">
    <option value="Austrias">Austrias</option>
    <option value="BLetras">Barrios de las Letras</option>
    <option value="BSalamanca">Barrio Salamanca</option>
    <option value="CasaCampo">Casa de CasaCampo</option>
    <option value="Castellana">Castellana</option>
    <option value="Chamberi">Chamberi</option>
    <option value="Chueca">Chueca</option>
    <option value="Sol">Sol-Gran Vía</option>
    <option value="Latina">Latina</option>
    <option value="Lavapies">Lavapiés</option>
    <option value="Princesa">Princesa</option>
    <option value="Sol">Sol</option>

  </select>
  <br>
  <label for="city">City</label>
  <input id="find" type="button" value="find">
  <input id="geocomplete" type="text" name="city" placeholder="Type in an address" value="" autocomplete="off">
  <br>
  <label for="comments">Comments</label>
  <input id="comments" type="comments" name="comments" placeholder="Comments">
  <br>
  <input name="lat" type="text" value="">
  <input name="lng" type="text" value="">

  <select id="capacity" name="capacity">
    <option value="small">Small</option>
    <option value="Medium" selected>Medium</option>
    <option value="Big">Big</option>
  </select>

   <br> {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br>
  <br>

  <button>Create Bar</button>

  </p>
</form>
</div>

<div id="map" style="height:500px"></div>
