<div class="container">
  
    <form action="/comments/{{_id}}/newComment" method="post">
    <div class="content">
      
      <label for="content">Comment the Bar {{name}}:</label>
      <select name="garrafon" id="">
        <option value=""></option>
      </select>
      <textarea rows="6" name="content" placeholder="Enter your Comment" required></textarea>
    </div>
      <input type="submit" value="Submit">
  </form>
  </div>